*.sketch filter=lfs diff=lfs merge=lfs -crlf
*.png filter=lfs diff=lfs merge=lfs -crlf
*.jpeg filter=lfs diff=lfs merge=lfs -crlf
*.jpg filter=lfs diff=lfs merge=lfs -crlf
*.svg filter=lfs diff=lfs merge=lfs -crlf
